<div class="desktop">
<div class="content">
  <h1 class="title">ABOUT ME</h1>

  <P class="text">
    <b style="text-shadow: 3px 3px 1px black; color: aqua">OBJECTIVE</b> <br />
    <br />
    To obtain a challenging position as a skilled Software Developer in a
    reputable organization, where I can utilize my expertise in Angular, HTML,
    CSS, JavaScript, NodeJs, MongoDB and Java to create innovative and
    user-friendly applications using the latest technologies, and contribute to
    the success of the company. <br />
    <br />
    <b style="text-shadow: 3px 3px 1px black; color: aqua">SUMMARY</b> <br />
    <br />
    As a Software Developer with significant experience in Angular, HTML, CSS,
    JavaScript, NodeJs, MongoDB and Java, I possess strong analytical,
    problem-solving and communication skills. My passion for developing
    responsive and user-friendly applications using cutting-edge technologies is
    matched by my commitment to delivering innovative solutions that drive
    business success. I am a fluent speaker of both Spanish (native) and English
    (C1), enabling me to effectively collaborate with clients and team members
    from diverse backgrounds. <br />
    <br />

    <b style="text-shadow: 3px 3px 1px black; color: aqua">SKILLS </b><br />
    <br />
    Angular, HTML, CSS, JavaScript, Express, NodeJs, MongoDB, Java, Strong
    analytical and problem-solving skills, Effective communication skills,
    Fluent in Spanish (native) and English (C1). <br />
    <br />
    <b style="text-shadow: 3px 3px 1px black; color: aqua"
      >PERSONAL INTERESTS</b
    >
    <br />
    <br />
    In my free time, I enjoy exploring new places and taking in the beauty of
    nature.
  </P>
</div>
</div>


<div class="mobile">
  <h1 class="titleMobile">ABOUT ME</h1>

  <P class="text">
    <b style="text-shadow: 3px 3px 1px black; color: aqua">OBJECTIVE</b> <br />
    <br />
    To obtain a challenging position as a skilled Software Developer in a
    reputable organization, where I can utilize my expertise in Angular, HTML,
    CSS, JavaScript, NodeJs, MongoDB and Java to create innovative and
    user-friendly applications using the latest technologies, and contribute to
    the success of the company. <br />
    <br />
    <b style="text-shadow: 3px 3px 1px black; color: aqua">SUMMARY</b> <br />
    <br />
    As a Software Developer with significant experience in Angular, HTML, CSS,
    JavaScript, NodeJs, MongoDB and Java, I possess strong analytical,
    problem-solving and communication skills. My passion for developing
    responsive and user-friendly applications using cutting-edge technologies is
    matched by my commitment to delivering innovative solutions that drive
    business success. I am a fluent speaker of both Spanish (native) and English
    (C1), enabling me to effectively collaborate with clients and team members
    from diverse backgrounds. <br />
    <br />

    <b style="text-shadow: 3px 3px 1px black; color: aqua">SKILLS </b><br />
    <br />
    Angular, HTML, CSS, JavaScript, Express, NodeJs, MongoDB, Java, Strong
    analytical and problem-solving skills, Effective communication skills,
    Fluent in Spanish (native) and English (C1). <br />
    <br />
    <b style="text-shadow: 3px 3px 1px black; color: aqua"
      >PERSONAL INTERESTS</b
    >
    <br />
    <br />
    In my free time, I enjoy exploring new places and taking in the beauty of
    nature.
  </P>
  


</div>