<div class="desktop">
  <div class="content">
    <div><h1 class="titulo" style="color: white">PORTFOLIO</h1></div>

    <div class="contenedorCards">
      <div
        (click)="redirectTo('https://frontend-barin.vercel.app/')"
        id="barinCard"
        class="card"
      >
        <h1 class="tituloInterno">BARIN (WEB-APP FOR RESTAURANTS AND BARS)</h1>
        <img
          style="margin-left: -2px"
          class="imgTech"
          src="https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/skills/mongodb-colored.svg"
          alt=""
        />
        <img
          class="imgTech"
          src="https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/skills/nodejs-colored.svg"
          alt=""
        />
        <svg
          style="color: red; height: 40px; width: 40px"
          xmlns="http://www.w3.org/2000/svg"
          class="imgTech"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          stroke-width="2"
          stroke="currentColor"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path
            d="M5.428 17.245l6.076 3.471a1 1 0 0 0 .992 0l6.076 -3.471a1 1 0 0 0 .495 -.734l1.323 -9.704a1 1 0 0 0 -.658 -1.078l-7.4 -2.612a1 1 0 0 0 -.665 0l-7.399 2.613a1 1 0 0 0 -.658 1.078l1.323 9.704a1 1 0 0 0 .495 .734z"
          ></path>
          <path style="color: white !important" d="M9 15l3 -8l3 8"></path>
          <path style="color: white !important" d="M10 13h4"></path>
        </svg>
      </div>

      <div
        id="huki"
        (click)="redirectTo('https://mauroaceituno.github.io/HUKI/#inicio')"
        class="card"
      >
        <h1 class="tituloInterno">HUKI (LANDING PAGE)</h1>
        <img
          style="margin-top: 62px"
          class="imgTech"
          src="https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/skills/javascript-colored.svg"
          alt=""
        /><img
          style="margin-top: 62px"
          class="imgTech"
          src="https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/skills/html5-colored.svg"
          alt=""
        /><img
          style="margin-top: 62px"
          class="imgTech"
          src="https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/skills/css3-colored.svg"
          alt=""
        />
      </div>

      <div
        (click)="redirectTo('https://mauroaceituno.github.io/BLACKJACK/')"
        id="blackjack"
        class="card"
      >
        <h1 class="tituloInterno">DESKTOP BLACKJACK GAME</h1>
        <img
          class="imgTech"
          style="margin-top: 62px"
          src="https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/skills/javascript-colored.svg"
          alt=""
        /><img
          class="imgTech"
          style="margin-top: 62px"
          src="https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/skills/html5-colored.svg"
          alt=""
        /><img
          class="imgTech"
          style="margin-top: 62px"
          src="https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/skills/css3-colored.svg"
          alt=""
        />
      </div>
    </div>
  </div>
</div>

<div class="mobile">
  <div style="height: 100%">
    <h1 class="tituloMobile" style="color: white">PORTFOLIO</h1>
    <h2 class="subTitleMobile">BARIN (WEB-APP FOR RESTAURANTS AND BARS)</h2>
    <img
      (click)="redirectTo('https://frontend-barin.vercel.app/')"
      style="box-shadow: 0px 0px 15px darkviolet"
      class="imgMobile"
      src="../assets/portBarin.png"
      alt=""
    />

    <h2 class="subTitleMobile">HUKI (LANDING PAGE)</h2>
    <img
      (click)="redirectTo('https://mauroaceituno.github.io/HUKI/#inicio')"
      style="box-shadow: 0px 0px 15px yellow"
      class="imgMobile"
      src="../assets/huki.png"
      alt=""
    />

    <h2 class="subTitleMobile">DESKTOP BLACKJACK GAME</h2>
    <img
      (click)="redirectTo('https://mauroaceituno.github.io/BLACKJACK/')"
      style="margin-bottom: 60px; box-shadow: 0px 0px 15px green"
      class="imgMobile"
      src="../assets/blackjack.png"
      alt=""
    />
  </div>
</div>
